<div class="overlay">
  <span
    class="dot"
    [style.left.%]="shoulder.xPercent"
    [style.top.%]="shoulder.yPercent"
    [style.background]="dotColor(shoulder)"
    [title]="shoulder.name"
  ></span>
  <span
    class="dot"
    [style.left.%]="hip.xPercent"
    [style.top.%]="hip.yPercent"
    [style.background]="dotColor(hip)"
    [title]="hip.name"
  ></span>
  <span
    class="dot"
    [style.left.%]="knee.xPercent"
    [style.top.%]="knee.yPercent"
    [style.background]="dotColor(knee)"
    [title]="knee.name"
  ></span>
</div>
